body {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin-bottom: 65px;
}
.breathing-space {
  margin: 10px;
}
.red {
  background: red;
}
div#depart-Name {
  color: #000;
}
form sup,.error {
  color: red;
  font-size: 12px;
  font-style: italic;
}
.openselect li {
  color: #000;
}
.header {
  box-shadow: 1px 1px 2px 0px #000;min-height: 80px;
}
.d-flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.logo-holds {
  display: flex;
  align-items: center;
}
.logo-list li {
  display: inline-block;
  margin: 0 10px;
}
ul.depart-con li {
  padding: 5px 15px;
  text-transform: capitalize;
}
.depart-con input[type="checkbox"] {
  vertical-align: sub;
  margin-right: 5px;
}
.logo-list {
  margin: 0;
  padding: 0;
}
.no-color {
  background: none;
  border: 1px solid #ccc !important;
  text-align: left !important;
}

.no-color .caret {
  float: right;
  position: absolute;
  right: 12px;
  top: 6p;
  top: 15px;
}
.pad-zero {
  padding: 0 !important;
}
.btn-space {
  margin-left: 15px;
}
.thanks-screen {
  display: none;margin-top:11%;
}
.datepicker > div {
  display: flex;
}
.back-show{background: #59af2a;padding: 10px;}
footer + .back-show{position: fixed;
    width: 100%;
    bottom: 0;}
footer {
  background: #333;color:#fff;padding: 10px 0 30px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
